body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(68, 66, 66);
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}



.header{
    background-color: rgb(26, 31, 33);
    border-bottom: 2px solid rgb(145, 148, 150);;
    height: 80px;
    width: 100%;
    position: fixed;
   
}
.header-logo{
    color: azure;
    font-size: 80px;
    font-family:logo ;
}
@font-face{
    font-family: logo;
    src: url(DatBox.ttf);
}
